# Question 21

In [5]:
import math

class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

class Segment:
    def __init__(self, point1, point2):
        self.point1 = point1
        self.point2 = point2

    def length(self):
        dx = self.point2.x - self.point1.x
        dy = self.point2.y - self.point1.y
        return math.hypot(dx, dy)

    def slope(self):
        dx = self.point2.x - self.point1.x
        dy = self.point2.y - self.point1.y
        if dx == 0:
            return None  
        return dx / dy


p1 = Point(3, 4)
p2 = Point()
s = Segment(p1, p2)
print(s.length())
print(s.slope())

5.0
0.75

# Question 22

In [8]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\jaydh\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\jaydh\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\jaydh\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\jaydh\anaconda3\lib\site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in c:\users\jaydh\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\jaydh\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\jaydh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\jaydh\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\jaydh\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\jaydh\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\jaydh\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\jaydh\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\jaydh\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\jaydh\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\jaydh\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [19]:
%sql sqlite://

In [35]:
%%sql
CREATE TABLE IF NOT EXISTS Weather
(
    id INT PRIMARY KEY,
    recordDate DATE,
    temperature INT
);

 * sqlite://
Done.

[]

In [16]:
%%sql
INSERT INTO Weather (id, recordDate, temperature)
VALUES
    (1, '2015-01-01', 10),
    (2, '2015-01-02', 25),
    (3, '2015-01-03', 20),
    (4, '2015-01-04', 30);

 * sqlite://
4 rows affected.

[]

In [17]:
%%sql
SELECT w1.id
FROM Weather w1
LEFT JOIN Weather w2 ON w1.id = w2.id + 1
WHERE w2.temperature IS NOT NULL AND w1.temperature > w2.temperature;

 * sqlite://
Done.

[(2,), (4,)]

# Question 23

In [42]:
def tough(indent, pattern):
    if pattern == 0:
        return
    tough(indent, pattern - 1)
    if pattern % 2 == 0:
        print(" " * indent + "*" * pattern)
    else:
        print(" " * indent + "*" * pattern)
        tough(indent + pattern - 1, pattern - 1)


print("f(0, 0):")
tough(0, 0)

print("\nf(0, 1):")
tough(0, 1)

print("\nf(0, 2):")
tough(0, 2)

print("\nf(0, 4):")
tough(0, 4)

f(0, 0):

f(0, 1):
*

f(0, 2):
*
**

f(0, 4):
*
**
***
  *
  **
****